.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 0;
  z-index: 100;
  background-color: white;
}

.slogan {
  /* this margin here is because the navbar has some -32 positiom */
  margin-right: 1rem;
  display: flex;
}
