.app-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr; 
  gap: 16px;
  padding: 0 16px;
  padding-top: 60px;
  height: 100%;
  box-sizing: border-box;
}

.app-container > * {
  /* change background color here for the columns after choosing colors */
  background-color: #1B1614;
  border-radius: 12px;
}

.left-column {
  position: sticky;
  max-height: calc(100vh - 32px);
  overflow-y: auto; 
  padding-right: 8px;
}

.right-column {
  position: sticky;
  top: 16px;
  max-height: calc(100vh - 32px);
  padding-left: 8px;
  overflow-y: auto;
}

/* on mobile, just a single column (the cards) */
@media (max-width: 1024px) {
  .app-container {
    grid-template-columns: 1fr; /* single column layout */
  }

    .left-column,
    .right-column {
    display: none; 
  }
}